.teamLogo {
  width: 120px;
  height: 120px;
}
.colImage{
  display: flex;
  align-items: center;
  justify-content: center;
}
.teamHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.teamStats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.teamRating {
  color: seashell;
  font-size: 20px;
  font-weight: 500;
}
.teamLosses {
  color: red;
  font-size: 20px;
  font-weight: 500;
}
.teamWins {
  color: seagreen;
  font-size: 20px;
  font-weight: 500;
}
