
a {
  text-decoration: none;
  &:focus, 
  &:hover,
  &:visited,
  &:link, 
  &:active {
  text-decoration: none;
}
}

.slideWrap{
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  
}

.slides { 
  display: grid;
  > .slide {
    grid-area: 1 / -1;
    
  }

  > button {
    
    appearance: none;
    background: transparent;
    border: none;
    color: rgb(251, 255, 0);
    position: absolute;
    font-size: 10rem;
    width: 5rem;
    height: 5rem;
   
    // top: 5%;
    transition: opacity 0.3s;
    opacity: 1;
    z-index: 5;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    &:first-child {
      left: -190%;
      bottom: 0%;
      padding-top: 100%;
      padding-left: 150%;
      padding-bottom: 100%;
      padding-right: 25%;
    }
    &:last-child {
      right: -180%;
      bottom: 0%;
      padding-top: 100%;
      padding-right: 150%;
      padding-bottom: 100%;
      padding-left: 25%;
    }
  }

}


.slideContent {
  width: 20vw;
  height: 20vw;
  background-color: rgb(20, 20, 20);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
  opacity: 0.9;
  background-color: rgb(10, 10, 10);
  display: grid;
  

  transform-style: preserve-3d;
  transform: perspective(1000px) translateX(calc(100% * var(--offset)))
    rotateY(calc(-45deg * var(--dir)));
}

.slideContentInner {
  display: flex;
  justify-content: center;
  align-items: center;  
  transform-style: preserve-3d;
  transform: translateZ(4rem);
  transition: opacity 0.3s linear;
  text-shadow: 0 0.1rem 1rem #000;
  opacity: 0;
  margin-top: -120%;
  margin-left:0;
 
  


  .slideSubtitle,
  .slideTitle {
    color: rgb(252, 248, 4);
    font-size: 1.7rem;
    
    font-weight: 800;
    letter-spacing: 0.2ch;
    text-transform: uppercase; 
  }


  .slideDescription {
    margin: 1rem;
    font-size: 0.8rem;
    letter-spacing: 0.2ch;
  }
}

.slideBackground {
  position: fixed;
  top: 0;
  left: -10%;
  right: -10%;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s linear, transform 0.3s ease-in-out;
  pointer-events: none;

  transform: translateX(calc(10% * var(--dir)));
}

.slide[data-active] {
  z-index: 2;
  pointer-events: auto;

  .slideBackground {
    opacity: 0.2;
    transform: none;
  }

  .slideContentInner {
    opacity: 1;
    
  }

  .slideContent {
    --x: calc(var(--px) - 0.5);
    --y: calc(var(--py) - 0.5);
    opacity: 1;
    border: 2px solid rgb(255, 255, 0);
    border-style: ridge;
    border-radius: 5px;
    transform: perspective(1000px);
    background-color: rgb(23, 23, 24);

    &:hover {
      transition: none;
      transform: perspective(1000px) rotateY(calc(var(--x) * 45deg))
        rotateX(calc(var(--y) * -45deg));
    }
  }
}
.navigation{
  position: fixed;
  background: linear-gradient(90deg,rgb(27, 64, 87) 100% ,rgb(34, 115, 161) 0%, rgb(4, 55, 73) 18%);
  opacity: 0.8;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 50px;
 
}

@media (min-width:600px) and (max-width:1200px) {
  .slideContentInner {
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    // background-color: rgba($color: #555454, $alpha: 0.8);
    transform-style: preserve-3d;
    transform: translateZ(4rem);
    transition: opacity 0.3s linear;
    text-shadow: 0 0.1rem 1rem #000;
    opacity: 0;
    margin-top: -170%;
    margin-left:0;
  
  
    .slideSubtitle,
    .slideTitle {
      color: rgb(255, 253, 119);
      font-size: 1.2rem;
      
      font-weight: 800;
      letter-spacing: 0.2ch;
      text-transform: uppercase;
      
      
      
    }

  }
  .slideContent {
    width: 25vw;
    height: 40vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 0.5s ease-in-out;
    opacity: 0.9;
    background-color: rgb(10, 10, 10);
    display: grid;
    align-content: center;
  
    transform-style: preserve-3d;
    transform: perspective(1000px) translateX(calc(100% * var(--offset)))
      rotateY(calc(-45deg * var(--dir)));
  }
  
  .slides { 
    display: grid;
    > .slide {
      grid-area: 1 / -1;
    }
  
    > button {
      
      appearance: none;
      background: transparent;
      border: none;
      color: rgb(251, 255, 0);
      position: absolute;
      font-size: 10rem;
      width: 5rem;
      height: 5rem;
     
      // top: 5%;
      transition: opacity 0.3s;
      opacity: 1;
      z-index: 5;
  
      &:hover {
        opacity: 1;
      }
  
      &:focus {
        outline: none;
      }
  
      &:first-child {
        left: -190%;
        bottom: 0%;
        padding-top: 90%;
        padding-left: 150%;
        padding-bottom: 170%;
        padding-right: 25%;
      }
      &:last-child {
        right: -180%;
        bottom: 0%;
        padding-top: 90%;
        padding-right: 150%;
        padding-bottom: 170%;
        padding-left: 25%;
      }
    }
  
  }
  
}

@media only screen and (max-width: 600px) {
  .slideContent {
    width: 30vw;
    height: 70vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 0.5s ease-in-out;
    opacity: 1;
    background-color: rgb(10, 10, 10);
    display: grid;
    align-content: center;
  
    transform-style: preserve-3d;
    transform: perspective(1000px) translateX(calc(100% * var(--offset)))
      rotateY(calc(-45deg * var(--dir)));
  }

  .slideContentInner {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: translateZ(4rem);
    transition: opacity 0.3s linear;
    text-shadow: 0 0.1rem 1rem #000;
    opacity: 0;
    margin-top: -250%;
    margin-left:0;
  
  
    .slideSubtitle,
    .slideTitle {
      color: rgb(255, 253, 119);
      font-size: 1rem;
      
      font-weight: 800;
      letter-spacing: 0.2ch;
      text-transform: uppercase;
      
      
      
    }

  }
  .slides { 
    display: grid;
    > .slide {
      grid-area: 1 / -1;
    }
  
    > button {
      
      appearance: none;
      background: transparent;
      border: none;
      color: rgb(251, 255, 0);
      position: absolute;
      font-size: 10rem;
      width: 5rem;
      height: 5rem;
     
      // top: 5%;
      transition: opacity 0.3s;
      opacity: 1;
      z-index: 5;
  
      &:hover {
        opacity: 1;
      }
  
      &:focus {
        outline: none;
      }
  
      &:first-child {
        left: -190%;
        bottom: 0%;
        padding-top: 90%;
        padding-left: 100%;
        padding-bottom: 280%;
        padding-right: 25%;
      }
      &:last-child {
        right: -180%;
        bottom: 0%;
        padding-top: 90%;
        padding-right: 150%;
        padding-bottom: 280%;
        padding-left: 25%;
      }
    }
  
  }
  
  
}

