*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}

a,
a:focus,
a:focus, 
a:hover,
a:visited,
a:link {
  text-decoration: none;
}

html,
body {
  /* height: 100%; */
  width: 100%;
 /* overflow: hidden; */
  background-color: rgba(2, 24, 44, 1);
  
 color: seashell;
}


html {
  background: #111111;
  color: #fff;  
  /* overflow: hidden; */
  background-color: rgba(2, 24, 44,1);
}

hr{
    background-color: rgb(21, 99, 138);
    margin-bottom: 2rem;
  }
/* #root{
    height: 100%;
    width: 100%;  
    
  } */
  